<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Kafe Kadınca</name>
    <description>
       Android ios app
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        Salviz Alper
    </author>
    <content src="index.html" />
    <access origin="*" />
    <gap:plugin name="com.admob.plugin" version="3.0.0" source="plugins.cordova.io"/>
</widget>
